//Fonction toRem
@function toRem($type) {
  @return calc($type / 16) * 1rem;
}

//#### Width

$desktop: toRem(737);
$table: toRem(689);
$mobile: toRem(327);

//##### Color ######//

//Darks

$dark-1: #050505;
$dark-2: #1f1f1f;
$dark-3: #2d2d2d;
$dark-4: #3a3a3a;

//Lights

$light-1: #757575;
$light-2: #e9e9e9;
$light-3: #f4f4f4;
$light-4: #ffff;

//Neutres

$active: #a445ed;
$danger: #ff5252;

//###### Typography #########//

//font

$sans-serif: sans-serif;
$serif: serif;
$mono: monospace;

$font-size-hl: toRem(64);
$line-height-hl: toRem(77);

$font-size-hm: toRem(24);
$line-height-hm: toRem(29);

$font-size-hs: toRem(20);
$line-height-hs: toRem(24);

$font-size-bm: toRem(18);
$line-height-bm: toRem(24);

$font-size-bs: toRem(14);
$line-height-bs: toRem(17);
